---
const { class: className = 'h-10 w-auto' } = Astro.props;
---

<a href="/" class="inline-flex items-center gap-3 font-black text-brand-navy" aria-label="D-Consultores inicio">
  <img src="/images/d-consultores-logo.svg" alt="D-Consultores" class={className} width="220" height="58" />
</a>
