<a class="sr-only focus:not-sr-only focus:fixed focus:left-4 focus:top-4 focus:z-50 focus:rounded-control focus:bg-brand-orange focus:px-4 focus:py-3 focus:font-black focus:text-white" href="#contenido">
  Saltar al contenido
</a>
